.Contador input {
  font-size: 1.4rem;
}

.Contador button {
  font-size: 1.4rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(43, 43, 191);
  color: white;
  margin: 15px;
}
